{% for label, messages in app.flashes %}
  {% for message in messages %}
    {{app.current_route starts with "app_admin" ? "<div class='py-5 mt-5 mb-0'>"}}
    <div class="alert alert-{{ label }} alert-dismissible py-4 mt-5" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{app.current_route starts with "app_admin" ? "</div>"}}
  {% endfor %}
{% endfor %}