{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Accueil{% endtrans %}
{% endblock %}

{% block body %}
	{# particles-js links #}

	{# Accueil #}
		<section class="overflow-hidden py-0" style="background: linear-gradient(94.41deg, #193D91 -6.4%, #091F51 105.25%); height: 80vh;"> <div id="particles-js" class="bg-holder opacity-50" style="background-image:url(/assets/img/bg/26.png);background-position:14%;background-size: contain; height: 80vh; width: 100%; z-index: 500; " data-gsap-parallax="{&quot;y&quot;:&quot;-40%&quot;}">
			<canvas class="particles-js-canvas-el" width="1361" height="655" style='width: 100%; height: 100%;'></canvas>
		</div>
		<div class="container position-relative py-8">
			<div class="row align-items-center gx-xxl-13">
				<div class="col-md-5 mb-6 z-index-1">
					<img src="{{asset("sneat/assets/img/backgrounds/18.jpg")}}" alt="" class="mw-100">
				</div>
				<div class="col-md-7">
					<h2 class="text-soft fw-normal mb-4 text-center text-lg-start">
						<span class="d-dark-none">Bienvenu à
						</span>
						<span class="d-light-none" style='color: #D3D3D3 !important;'>Bienvenu à
						</span>

						<br class="d-none d-lg-block d-xl-none">
						<span class="text-primary-300 ms-2 fw-bolder">
							WODH ENTERPRISE
							<img class="mb-2 ms-2" src="/img/thumbs-up.png" alt>
						</span>
					</h2>
					<p class="text-200 text-center text-lg-start d-dark-none">
						Nous sommes à l'écoute de tous vos besoins informatiques.
						<br class="d-none d-md-block">
						Nous vous proposons des solutions éfficaces, pérennes et
						              personalisé.
						<br class="d-none d-md-block">
						Nous vous formons et vous assistons dans la concrétisation de
						              vos projets.
					</p>
					<p class="text-200 text-center text-lg-start d-light-none" style="color: #D3D3D3 !important;">
						Nous sommes à l'écoute de tous vos besoins informatiques.
						<br class="d-none d-md-block">
						Nous vous proposons des solutions éfficaces, pérennes et
						              personalisé.
						<br class="d-none d-md-block">
						Nous vous formons et vous assistons dans la concrétisation de
						              vos projets.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section data-aos-duration="2000" data-aos="fade-up" class="py-0 aos-init">
		<div class="bg-holder" style="background-image:url(/assets/img/bg/bg-24.png);background-position:center;background-size:auto;"></div>
		<!--/.bg-holder-->
		<div class="container-lg position-relative">
			<div class="row flex-center">
				<div class="col-12 col-sm-9 col-xl-7 px-4 px-xxl-6 text-center pt-10">
					<h1 class="display-4 fw-bolder lh-sm text-1000 mb-2">Notre
						              Philosophie</h1>
					<p></p>
					<div class="fw-bolder h4">Vous faciliter la vie, vous faire voir
						              la vie en bleu grâce aux nouvelles technologies.</div>
					Au cours des dernières années, la technologie a grandement changé
					            la manière de travailler.
					<span class="gradient-text-primary fw-bold">Elle fait gagner
						              beaucoup de temps.</span>
					De plus en plus de procédés sont automatisés, ce qui permet une
					            meilleure efficacité et une plus grande productivité.
					<p></p><br><br>
					<h1 class="display-4 fw-bolder lh-sm text-1000 mb-2">Nos
						              Valeurs</h1>
					<p>Notre professionnalisme assure votre sérénité.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-2">
		<div class="container-small px-lg-7 px-xxl-3">
			<div class="position-relative z-index-2">
				<div class="row align-items-center text-center text-lg-start mb-6 mb-lg-0">
					<div class="col-lg-5"><img class="feature-image mb-9 mb-lg-0 d-dark-none" src="/assets2/img/22_2.png" alt><img class="feature-image mb-9 mb-lg-0 d-light-none" src="/assets2/img/dark_22.png" alt></div>
					<div data-aos-duration="2000" data-aos="fade-left" class="col-lg-6 aos-init">
						<h3 class="fw-bolder mb-3">Réactivité</h3>
						<p class="mb-4 px-md-7 px-lg-0">
							La réactivité de chacun de nos collaborateurs et partenaires,
							                nous permet de nous adapter sans cesse à l’évolution des
							                besoins de nos clients tout en réduisant les délais et, en
							                augmentant la qualité de nos services.
						</p>
					</div>
				</div>
				<div class="row mt-2 align-items-center text-center text-lg-start mb-6 mb-lg-0">
					<div class="col-lg-5 order-0 order-lg-1"><img class="feature-image mb-9 mb-lg-0 d-dark-none" src="/assets2/img/23_2.png" height="394" alt><img class="feature-image mb-9 mb-lg-0 d-light-none" src="/assets2/img/dark_23.png" height="394" alt></div>
					<div data-aos-duration="2000" data-aos="fade-right" class="col-lg-6 aos-init">
						<h3 class="fw-bolder mb-3">Ecoute</h3>
						<p class="mb-4 px-md-7 px-lg-0">
							Le service client est au coeur de notre business. Et nous
							                défendons l'idée que la satisfaction de nos clients, commence
							                par l'accomplissement de chacun de nos collaborateurs. Pour
							                nous, les gens heureux sont plus susceptible d'aider d'autres
							                personnes à s'épanouir dans la réalisation de leurs projets,
							                en s'engageant dans leur travail.
						</p>
					</div>
				</div>
				<div class="row mt-2 align-items-center text-center text-lg-start mb-6 mb-lg-0">
					<div class="col-lg-5"><img class="feature-image mb-9 mb-lg-0 d-dark-none" src="/assets2/img/24_2.png" height="394" alt><img class="feature-image mb-9 mb-lg-0 d-light-none" src="/assets2/img/dark_24.png" height="394" alt></div>
					<div data-aos-duration="2000" data-aos="fade-left" class="col-lg-6 text-center text-lg-start aos-init">
						<h3 class="fw-bolder mb-3">Confiance &amp; Confidentialité</h3>
						<p class="mb-4 px-md-7 px-lg-0">
							Nous ne divulguons jamais l'identité des clients qui nous
							                confient leurs projets. Parce que pour nous, la discrétion et
							                la confidentialité sont une marque de respect pour nos
							                clients. Une attention très appréciée de nos clients, qui en
							                retour, nous recommande auprès de leurs amis et connaissances.
							                Cela contribue à renforcer la relation de confiance qui nous
							                lie.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- end of .container-->
	</section>

	<section data-aos-duration="1500" data-aos="zoom-in" class="container-small pt-0 aos-init">
		<div class="card shadow-lg-primary">
			<div class="card-body">
				<p class="card-text text-white"></p>
				<p class="text-center h4">
					Vous êtes à la recherche d'une solution sur mesure pour répondre à
					            vos besoins professionnels ?
				</p>
				<br>
				<p>
					Chez
					<span class="text-primary-300 fw-bolder">BLUE LIFE TECH</span>,
						            nous sommes là pour vous aider ! Nous offrons une large gamme de
						            services, de la création de sites web à la formation en ligne, en
						            passant par le développement d'applications mobiles et bien plus
						            encore. Notre équipe d'experts est là pour vous accompagner dans
						            chaque étape de votre projet, de la planification à la mise en
						            œuvre.
				</p>
				<p>
					Si vous êtes intéressé par l'un de nos services ou si vous avez
					            des questions, n'hésitez pas à nous contacter en cliquant sur
					<span class="text-primary-300 fw-bolder">"Contactez-nous"</span>
					ci-dessous. Nous serons ravis de répondre à toutes vos demandes et
					            de vous aider à atteindre vos objectifs professionnels. Nous avons
					            hâte de travailler avec vous !
				</p>
				<p></p>
			</div>
			<br>
			<div class="row">
				<div class="col-md-auto">
					<div class="p-2 position-absolute bottom-0 end-0">
						<a class="btn btn-sm btn-primary" href="https://bluelifetech.site/contacts#contactez-nous">
							<svg class="svg-inline--fa fa-paper-plane me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg>
								<path fill="currentColor" d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"></path>
							</svg>
							<!-- <i class="fas fa-paper-plane me-2"></i> Font Awesome fontawesome.com -->
							Contactez-nous</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-soft-primary dark__bg-1000 pb-10 overflow-hidden">
		<div class="container-small px-lg-7 px-xxl-3">
			<div class="position-absolute w-100 h-100 start-0 end-0" style="bottom: -350px; transform: skewY(-8deg); background: linear-gradient(102.27deg, #38ABFF 4.69%, #3874FF 106.27%)"></div>
			<div class="bg-holder" style="background-image:url(/assets/img/bg/bg-left-24.png);background-size:auto;background-position:left center;"></div>
			<!--/.bg-holder-->
			<div class="bg-holder" style="background-image:url(/assets/img/bg/bg-right-24.png);background-size:auto;background-position:right center;"></div>
			<!--/.bg-holder-->
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<div class="card py-md-9 px-md-13 border-0 z-index-1 shadow-lg">
						<div class="bg-holder" style="background-image:url(/assets/img/bg/bg-38.png);background-position:center;background-size:100%;"></div>
						<!--/.bg-holder-->
						<div class="card-body position-relative"><img class="img-fluid mb-5 d-dark-none" src="/assets2/img/37.png" width="260" alt="..."><img class="img-fluid mb-5 d-light-none" src="/assets2/img/37_2.png" width="260" alt="...">
							<h1 class="fs-2 fs-sm-4 fs-lg-6 fw-bolder lh-sm mb-3">
								<span class="gradient-text-primary mx-2">Newsletter</span>
								<span></span>
							</h1>
							<p class="fw-bold">
								<span class="text-primary fs-2">.</span>
								<span class="text-primary fs-2">.</span>
								<span class="text-primary fs-2">.</span>
								Renseignez votre Email ci-dessous pour recevoir notre
								                  newsletter
								<span class="text-primary fs-2">.</span>
								<span class="text-primary fs-2">.</span>
								<span class="text-primary fs-2">.</span>
							</p>
							<div class="row g-2 px-xxl-15">
								<div class="col-md-5 mb-sm-2">
									<input class="form-control getInfo me-3" id="nom" type="email" placeholder="Nom et Prénom(s)" aria-describedby="nom">
								</div>
								<div class="col-md-4 mb-sm-2">
									<input class="form-control getInfo me-3" id="email" type="email" placeholder="Adresse E-mail" aria-describedby="email">
								</div>
								<div class="col-md-3 mb-sm-2">
									<button class="btn btn-primary w-100" type="button" id="newsletter">
										<svg class="svg-inline--fa fa-envelope-open me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope-open" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg>
											<path fill="currentColor" d="M64 208.1L256 65.9 448 208.1v47.4L289.5 373c-9.7 7.2-21.4 11-33.5 11s-23.8-3.9-33.5-11L64 255.5V208.1zM256 0c-12.1 0-23.8 3.9-33.5 11L25.9 156.7C9.6 168.8 0 187.8 0 208.1V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V208.1c0-20.3-9.6-39.4-25.9-51.4L289.5 11C279.8 3.9 268.1 0 256 0z"></path>
										</svg>
										<!-- <i class="fas fa-envelope-open me-2"></i> Font Awesome fontawesome.com -->
										S'abonner</button>
								</div>
							</div>
							<br class="d-block d-md-none">
							<div class="mt-0" id="msgError" style="display: none;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end of .container-->
	</section>
{% endblock %}

{% block javascripts %}<!-- scripts -->
	 <script src="/particles/particles.js"></script>
	 <script src="/particles/app.js"></script>
{% endblock %}
