{% extends 'base.html.twig' %}

{% block title %}
  Services
{% endblock %}

{% block body %}
  <div class="container-small h4 py-3">
    <span><a href="{{ path('app_main') }}">Accueil</a></span>
    <span class="text-900">/ Services</span>
  </div>
  <div class="container">
    <div class="row g-2">
      <div class="col-md-6 aos-init" data-aos="zoom-in-right" data-aos-duration="1500">
        <div class="card border border-300 h-100 w-100 overflow-hidden">
          <div class="bg-holder d-block bg-card" style="background-image:url(/assets/img/spot-illustrations/32.png);background-position: top right;"></div>
          <!-- /.bg-holder -->
          <div class="d-dark-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/gll.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="d-light-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/gld.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="card-body px-5 position-relative">
            <h3 class="mb-5">Génie Logiciel</h3>
            <p class="text-800 fw-semi-bold w-md-70">Conception et réalisation de Site web, Application Mobile et Desktop ; Maintenance des sites internet et applications webs ; Hébergement des sites et application; Rédaction du cahier des charges etc...</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 aos-init" data-aos="zoom-in-left" data-aos-duration="1500">
        <div class="card border border-300 h-100 w-100 overflow-hidden">
          <div class="bg-holder d-block bg-card" style="background-image:url(/assets/img/spot-illustrations/32.png);background-position: top right;"></div>
          <!-- /.bg-holder -->
          <div class="d-dark-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/ml.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="d-light-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/md.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="card-body px-5 position-relative">
            <h3 class="mb-5">Maintenance</h3>
            <p class="text-800 fw-semi-bold w-md-70">Maintenance et entretien des ordinateurs (Desktops et Laptops); Installation des logiciels et système d'exploitation (Windows, Linux, Mac), Mise à jour des Bios; etc...</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 aos-init" data-aos="zoom-in-left" data-aos-duration="1500">
        <div class="card border border-300 h-100 w-100 overflow-hidden">
          <div class="bg-holder d-block bg-card" style="background-image:url(/assets/img/spot-illustrations/32.png);background-position: top right;"></div>
          <!-- /.bg-holder -->
          <div class="d-dark-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/gl.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="d-light-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/gd.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="card-body px-5 position-relative">
            <h3 class="mb-5">Graphisme</h3>
            <p class="text-800 fw-semi-bold w-md-70">Conception et réalisation des maquettes, affiches, logos, flyers, carte de visite, carte d'invitation etc...</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 aos-init" data-aos="zoom-in-right" data-aos-duration="1500">
        <div class="card border border-300 h-100 w-100 overflow-hidden">
          <div class="bg-holder d-block bg-card" style="background-image:url(/assets/img/spot-illustrations/32.png);background-position: top right;"></div>
          <!-- /.bg-holder -->
          <div class="d-dark-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/risl.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="d-light-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/risd.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="card-body px-5 position-relative">
            <h3 class="mb-5">Réseau Informatique &amp; Sécurité</h3>
            <p class="text-800 fw-semi-bold w-md-70">Configuration des caméras analogiques et ip avec visualisation à distance ; Configuration des routeurs etc...</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 aos-init" data-aos="zoom-in-right" data-aos-duration="1500">
        <div class="card border border-300 h-100 w-100 overflow-hidden">
          <div class="bg-holder d-block bg-card" style="background-image:url(/assets/img/spot-illustrations/32.png);background-position: top right;"></div>
          <!-- /.bg-holder -->
          <div class="d-dark-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/eel.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="d-light-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/eed.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="card-body px-5 position-relative">
            <h3 class="mb-5">Électricité &amp; Énergie</h3>
            <p class="text-800 fw-semi-bold w-md-70">Installation de Système Photovotaique etc...</p>
          </div>
        </div>
      </div>

      <div class="col-md-12 aos-init" data-aos="fade-down-right" data-aos-duration="1500">
        <div class="card border border-300 h-100 w-100 overflow-hidden">
          <div class="bg-holder d-block bg-card" style="background-image:url(/assets/img/spot-illustrations/32.png);background-position: top right;"></div>
          <!-- /.bg-holder -->
          <div class="d-dark-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/fl.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="d-light-none">
            <div class="bg-holder opacity-25 bg-card" style="background-image:url(/assets/img/spot-illustrations/fd.png);background-position: bottom right; background-size: auto;"></div>
            <!-- /.bg-holder -->
          </div>
          <div class="card-body px-5 position-relative">
            <h3 class="mb-5">Formation</h3>
            <p class="text-800 fw-semi-bold w-md-70">Apprenez à utiliser les outils, langages et technologie de développement web, mobile et desktop ; Apprenez à utiliser les outils de graphisme et montage vidéo ; Apprenez à maintenir les ordinateurs et téléphone portables ; etc...</p>
          </div>
          <div class="card-footer border-0 py-0 px-5 z-index-1">
            <p class="text-800 fw-semi-bold">
              <a href="{{path("app_formations_index")}}">Cliquez ici</a>
              pour voir la liste des formations que nous proposons.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div hidden="">
    <div class="scrollbar-overlay" data-simplebar="init">
      <div class="simplebar-wrapper" style="margin: 0px;">
        <div class="simplebar-height-auto-observer-wrapper">
          <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
          <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
              <div class="simplebar-content" style="padding: 0px;"></div>
            </div>
          </div>
        </div>
        <div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div>
      </div>
      <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
      </div>
      <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
      </div>
    </div>
  </div>

  <div class="mb-4"></div>
{% endblock %}
